/*
All our variables in here, we will be using the power of css Var to make it easier for us 
to switch up the theme

*/

//Let's start with the light color first

$small-space: 0.8rem;
$medium-space: 1.6rem;
$big-space: 2.4rem;
$bigger-space: 3.2rem;

:root,
[data-color="light"] {
  --color-yllw: hsl(48, 93%, 53%);
  --color-yllw-02: hsl(52, 83%, 14%);
  --color-bg: hsl(0, 0%, 100%);

  --color-neutral-00: hsl(0, 0%, 100%);
  --color-neutral-01: hsl(0, 0%, 0%);
  --color-neutral-02: hsl(235, 9%, 29%);
  --color-neutral-03: hsl(220, 20%, 97%);
  --color-neutral-04: hsl(223, 7%, 79%);

  --color-text: hsl(0, 0%, 35%);

  /*
  * COLOR ELEMENT
  */
  --color-btn: hsl(0, 0%, 0%);
  --color-switch-bg: hsl(220, 18%, 97%);
  --color-boxes: hsl(220, 18%, 97%);

  --font-medium: 500;
  --font-bold: 700;
}

[data-color="dark"] {
  --color-bg: hsl(223, 10%, 13%);

  /*
  * COLOR TEXT 
  */
  --color-text: hsl(0, 0%, 64%);

  /*
  * COLOR ELEMENT  
  */

  --color-switch-bg: hsl(0, 0%, 0%);
  --color-boxes: var(--color-neutral-02);
  --color-neutral-01: hsl(0, 0%, 100%);
}
