/*
All our variables in here, we will be using the power of css Var to make it easier for us 
to switch up the theme

*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Space+Grotesk:wght@500;700&display=swap");
:root,
[data-color="light"] {
  --color-yllw: hsl(48, 93%, 53%);
  --color-yllw-02: hsl(52, 83%, 14%);
  --color-bg: hsl(0, 0%, 100%);
  --color-neutral-00: hsl(0, 0%, 100%);
  --color-neutral-01: hsl(0, 0%, 0%);
  --color-neutral-02: hsl(236, 9%, 29%);
  --color-neutral-03: hsl(220, 18%, 97%);
  --color-text: hsl(0, 0%, 35%);
  --font-medium: 500;
  --font-bold: 700; }

[data-color="dark"] {
  --color-bg: hsl(223, 10%, 13%); }

/*Breakpoint
$breakpoint: (
  "phone": "41.4rem",
  "tablet": "76.8rem",
  "tab-land":"";
  "desktop": "144rem",
);

*/
/*
basic styling for the buttons
*/
/*
Let's reset everyhting in here
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/*
This is where we will find all the font related styling
*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  line-height: 1.5;
  font-size: 1.8rem;
  color: var(--color-text);
  background: var(--color-bg); }

p,
span {
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

h1,
h2,
h3,
button {
  font-family: "Space Grotesk"; }

h1,
h1,
h3 {
  line-height: 1.2;
  color: var(--color-neutral-01);
  font-weight: 700; }

.title--h1 {
  font-size: 5.6rem; }

.title--h2 {
  color: var(--color-neutral-01);
  font-size: 3.6rem; }

.section__title {
  margin-bottom: 0.8rem; }

.link {
  font-family: "Source Sans Pro"; }

.p--section-subs {
  color: var(--color-yllw-02);
  margin-bottom: 1.6rem;
  width: 100%; }

::selection {
  background: var(--color-yllw);
  color: var(--color-neutral-01); }

.flex {
  display: flex; }

.btn {
  border: none;
  border-radius: 5px;
  background: var(--color-yllw);
  font-weight: var(--font-bold);
  font-size: 1.8rem;
  padding: 1.9rem 2.4rem;
  text-transform: capitalize;
  cursor: pointer; }
  .btn img {
    margin-right: 1.6rem;
    vertical-align: middle; }
  .btn--submit {
    background: var(--color-yllw-02);
    border: none;
    color: var(--color-neutral-00);
    font-size: 1.8rem;
    padding: 1.8rem 0;
    border-radius: .5rem; }

.toggle {
  background: lightcoral; }
  .toggle__input {
    display: none; }
  .toggle__switch span {
    font-family: "Space Grotesk";
    position: relative;
    z-index: 1; }
    .toggle__switch span img {
      vertical-align: middle; }
  .toggle__switch {
    background: var(--color-neutral-03);
    border-radius: 0.5rem;
    padding: 1.9rem 2.4rem;
    position: relative; }
    .toggle__switch::before {
      content: "";
      position: absolute;
      left: rem;
      top: 20%;
      width: 9rem;
      height: 4rem;
      box-shadow: 0 2px 0 var(--color-neutral-01);
      border-radius: 0.5rem;
      transition: all 0.4s; }
  .toggle__input:checked + .toggle__switch::before {
    transform: translateX(10rem); }

.row {
  width: 90%;
  margin: 0 auto;
  max-width: 144rem; }

.header {
  margin-bottom: 8rem; }
  .header__img img {
    width: 100%; }
  .header__title {
    margin-bottom: 3.2rem; }
    .header__title span {
      border: 1px solid var(--color-yllw);
      border-radius: 5px;
      padding: 0 0.8rem;
      display: inline-block; }
  .header__paragraph {
    margin-bottom: 2.4rem; }
  @media (min-width: 48rem) {
    .header {
      display: flex; }
      .header__hero {
        flex: 1;
        align-self: center; }
      .header__img {
        order: 1;
        flex: 1; }
        .header__img img {
          width: 100%;
          height: auto; } }

/**************************
main
***************************/
.section {
  /*
   TESTIMONIALS
  */
  /*
   SUBSCRIBE
  */ }
  .section--img {
    width: 100%; }
  .section__intro {
    margin-bottom: 8rem; }
    .section__intro-paragraph {
      margin-bottom: 2.4rem; }
    .section__intro-link {
      text-decoration: solid;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 3.2rem;
      display: block; }
      .section__intro-link:link, .section__intro-link:visited {
        color: var(--color-neutral-01); }
  .section__subscribe {
    background-color: var(--color-yllw);
    padding-top: 6.4rem; }
  .section__form > * {
    display: block;
    width: 100%; }
  .section__form :first-child {
    margin-bottom: 0.8rem; }

/**************************
FOOTER
***************************/
.footer {
  background-color: var(--color-yllw);
  color: var(--color-yllw-02); }
  .footer__credits {
    width: 100%;
    background-color: var(--color-yllw-02);
    padding: 1rem 0;
    color: var(--color-yllw); }
  .footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__flex div > * {
      margin-left: 1.6rem;
      display: inline-block;
      vertical-align: middle; }

.nav {
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  /********
#### BURGER
************/
  /*
  ICON
  */
  /********
#### NAVIGATION IS DESIGNED IN DESTOP FIRST APPROACHED
************/
  /********
#### Actions icon and BTN
************/
  /********
#### NAVIGATION
************/ }
  @media (min-width: 75rem) {
    .nav {
      padding: 4rem 0; } }
  @media (max-width: 1200px) {
    .nav {
      position: relative; } }
  .nav__burger {
    background: #f1f1f3;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 20;
    width: 5rem;
    border-radius: 20px;
    padding: 1.6rem .8rem; }
    .nav__burger::selection > * {
      background: transparent; }
    @media (min-width: 75rem) {
      .nav__burger {
        display: none; } }
  .nav__icon {
    position: relative;
    width: 100%; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      background: var(--color-neutral-01);
      height: 0.2rem;
      border-radius: 0.5rem;
      transition: all 0.3s; }
    .nav__icon::before, .nav__icon::after {
      position: absolute;
      right: 0;
      content: "";
      width: 80%; }
    .nav__icon::before {
      top: 1rem; }
    .nav__icon::after {
      top: -1rem; }
  .nav__icon.clicked {
    background: transparent;
    transform: translateX(-0.4rem); }
    .nav__icon.clicked::before, .nav__icon.clicked::after {
      top: 0; }
    .nav__icon.clicked::before {
      transform: rotate(45deg); }
    .nav__icon.clicked::after {
      transform: rotate(-45deg); }
  .nav__navigation {
    display: flex;
    flex: 1;
    display: none; }
    @media (max-width: 1200px) {
      .nav__navigation {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 6rem;
        right: -100%;
        width: 0;
        background: dodgerblue;
        z-index: 20; } }
  .nav__navigation li {
    margin-left: 2.4rem; }
    @media (max-width: 1200px) {
      .nav__navigation li {
        display: block;
        margin: 4rem 0; } }
  .nav__links:link, .nav__links:visited {
    color: var(--color-neutral-02);
    font-family: "Space Grotesk";
    font-weight: var(--font-medium);
    text-transform: capitalize;
    display: block; }
  .nav__bg {
    display: none;
    background: lightblue;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .nav__actions {
    display: none;
    background-color: aliceblue; }
    @media (min-width: 75rem) {
      .nav__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1; } }

@media (max-width: 1200px) {
  .nav__active {
    right: 0;
    width: 100%; } }
