.btn {
  @include btn--basic(var(--color-yllw));
  font-weight: var(--font-bold);
  font-size: 1.8rem;
  padding: 1.9rem 2.4rem;
  text-transform: capitalize;
  cursor: pointer;

  img {
    margin-right: 1.6rem;
    vertical-align: middle;
  }

  &--submit{
    background: var(--color-yllw-02);
    border: none;
    color: var(--color-neutral-00);
    font-size: 1.8rem;
    padding: 1.8rem 0;
    border-radius: .5rem;
  }
}
