


 /*
   SUBSCRIBE
  */
.pricing{
    padding: 4rem 0 12rem;
    

    h2,h3,li{
        font-family:"Space Grotesk";
        
    }

    h3,li{
        text-transform: capitalize;
    }

   
    

    &__box{
        padding: 3.6rem;
        border-radius: .8rem;
        //background: red;
        width: 40rem;

        &:not(:last-child){
            margin-bottom: 4rem;
        }
      
        &--starter{
            h3{
                color: var(--color-neutral-04);
            }
        background: var(--color-neutral-02);
        color: var(--color-neutral-04);
        }
    }

 
   &__tiers{
       font-weight: 400;
       font-size: 1.8rem;
      
   }

  

   &__price{
       margin-bottom: $small-space;

       &--price{
        font-size: 5.6rem;
        font-weight: 500;
        font-family:'Space Grotesk' ;
       }
       &--month{
           font-size: 1.8rem ;
           font-weight: 400;
       }
   }

   &__description{
       margin-bottom: $big-space;
       
   }

   &__list{

    &--items{
        margin-bottom: $medium-space;
        font-weight: 400;
    }
   }

   &__img{
       margin-right: $medium-space;
       vertical-align: middle;
   }
}


.flex-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include responsive(tablet){
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include responsive(desktop){
        justify-content: space-between;
        &>*:not(:last-child){
           
                margin-right: 7.6rem;
            
           
        }
    }
    
    .pricing__box{
    
      @include responsive(tablet){
        margin: 0;
        flex: 1 0 50%;
        

        &--basic{
            order: 1;
            margin-bottom: 4rem;
            max-width: 40rem;
          }
          &--pro{
            order: 2;
            margin-bottom: 4rem;
            max-width: 40rem;
          }
          &--starter{
            order: 3;
        }
  
     }

     @include responsive(desktop){
       
      
       
       max-width: 40rem;
       margin: 0;
       
       &--basic{
        order: 1;
        
      }
      &--pro{
        order: 3;
        
      }
      &--starter{
        order: 2;
    }
     }
    }
    
  }

  /*
   &--basic{
          order: 1;
          
        }
        &--pro{
          order: 2;
          
        }
        &--starter{
          order: 3;
      }*/