.rating {
  display: flex;
  margin-bottom: 1.4rem;

  &__numbers {
    margin-right: $medium-space;
    color: var(--color-neutral-01);
  }

  &__img {
    height: 2.6rem;
    vertical-align: middle;
  }

  &__light {
    font-weight: 400;
    color: var(--color-text);
  }
}

.avatar {
  display: flex;

  &__container {
    margin-right: -1.95rem;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-neutral-00);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  &__container:hover {
    transform: scale(1.2);
    z-index: 100;
  }

  &__container:first-child:hover {
    background: rgba(0, 181, 73, 0.7);
  }
  &__container:nth-child(2) {
    background: rgba(241, 122, 24, 0.884);
  }
  &__container:nth-child(3) {
    background: rgba(70, 53, 219, 0.7);
  }

  &__container:nth-child(4) {
    background: rgba(24, 137, 230, 0.74);
  }

  &__container:nth-child(5) {
    background: rgba(247, 30, 192, 0.7);
  }

  &__container:nth-child(6) {
    background: var(--color-yllw);
  }

  &__img {
    &:hover {
      mix-blend-mode: overlay;
    }
  }
}

.testimonials {
  width: 35rem;
  padding: 1rem 4rem;
  border-radius: 0.8rem;
  background: var(--color-boxes);
  position: relative;
  font-size: 1.4rem;

  //Position of the boxes
  /* Easier for me to position it like this, i could've used flex but tried to copy the desing pixels by pixels*/

  &__first {
    transform: scale(0.7) translateX(-5rem);
    @include responsive(phone) {
      transform: scale(1) translateX(7rem);
    }
  }

  &__second {
    transform: scale(0.7) translateX(7rem);

    @include responsive(phone) {
      transform: scale(1) translateX(17rem);
      margin-top: 4rem;
    }
  }

  &__name {
    font-family: "Space Grotesk";
    font-weight: 700;
    color: var(--color-neutral-01);
    margin-bottom: 0.4rem;
    margin-left: 0.5rem;

    @include responsive(tablet) {
      margin-left: 1.6rem;
    }
  }
  &__quote {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    quotes: "“" "”" "‘" "’";

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__img {
    height: 7rem;
    position: absolute;
    left: -11%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__stars {
    img {
      height: 1rem;
    }
  }
}
