.toggle {
  background: var(--color-switch-bg);
  width: 21.2rem;
  height: 5.9rem;
  padding: 1rem 0;
  border-radius: 5px;

  &__input {
    display: none;
  }

  &__switch {
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  &__switch span {
    font-family: "Space Grotesk";
    //position: relative;
    z-index: 4;

    img {
      vertical-align: middle;
      margin-top: -0.25rem;
    }

    &:nth-child(2) {
      margin-right: 0.9rem;
    }
  }

  &__switch::after {
    content: "";
    background: white;
    display: block;
    width: 9.2rem;
    height: 3.9rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 1rem;
    z-index: 1;
    transition: all 0.3s ease;
  }

  &__input:checked + &__switch::after {
    transform: translateX(10rem);
    background: hsl(232, 5%, 30%);
  }
}
