.row {
  width: 90%;
  margin: 0 auto;
  max-width: 114rem;
}

.header {
  margin-bottom: 8rem;

  &__img {
    img {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: $bigger-space;

    span {
      border: 1px solid var(--color-yllw);
      border-radius: 5px;
      padding: 0 0.8rem;
      display: inline-block;
    }
  }

  &__paragraph {
    margin-bottom: $big-space;
  }

  @include responsive(tab-land) {
    display: flex;

    &__hero {
      flex: 1;
      align-self: center;
    }
    &__img {
      order: 1;
      flex: 1;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/**************************
main
***************************/
.section {
  //This will keep the images from the section to overlap
  &--img {
    width: 100%;
  }

  /*
   intro
  */

  &__intro {
    margin-bottom: 8rem;

    @include responsive(tab-land) {
      display: flex;
      align-items: center;
    }

    .title--h2 {
      @include responsive(desktop) {
        width: 55%;
      }
    }

    &-paragraph {
      margin-bottom: $big-space;

      @include responsive(tab-land) {
        width: 80%;
      }
      @include responsive(desktop) {
        width: 57%;
      }
    }
    &-link {
      text-decoration: solid;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: $bigger-space;
      display: block;

      &:link,
      &:visited {
        color: var(--color-neutral-01);
      }
    }

    &--bottom {
      @include responsive(tab-land) {
        max-width: 51.4rem;
      }
    }
  }

  /*
   TESTIMONIALS
  */

  &__reviews {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    @include responsive(tablet) {
      margin-bottom: 7.6rem;
    }

    @include responsive(tab-land) {
      flex-direction: row-reverse;
    }
  }

  &__reviews--top {
    margin-bottom: 3.2rem;
    flex: 1;
    align-self: center;
  }

  //Will set the box to flex so we can position them
  &__reviews--bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__reviews-counter {
    display: flex;
    //vertical-align: middle;
  }

  &__reviews-p {
    margin-bottom: $medium-space;
  }

  /*
   SUBSCRIBE
  */

  &__subscribe {
    background-color: var(--color-yllw);
    padding-top: 6.4rem;
  }

  &__subscribe--bottom {
    img {
      transform: translateY(0.9rem);
    }
  }

  &__form {
    margin-bottom: $bigger-space;
    & > * {
      display: block;
      width: 100%;

      @include responsive(tablet) {
        display: inline-block;
      }
    }
    & :first-child {
      margin-bottom: $small-space;
      color: var(--color-yllw-02);
      padding: 1.8rem 0 1.8rem 3.6rem;
      border: none;
      border-radius: 0.5rem;

      @include responsive(tablet) {
        margin: 0;
        width: 24.9rem;
        height: 5.9rem;
      }
    }

    & :nth-child(2) {
      @include responsive(tablet) {
        margin-left: $medium-space;
        width: 22rem;
        padding: 1.9rem 2.4rem;
      }
    }

    &-field::placeholder {
      color: var(--color-yllw-02);
      opacity: 0.7;
      font-size: $medium-space;
    }

    &-field:focus {
      outline: none;
    }
    &-field:focus:invalid {
      border: 1px solid orangered;
    }
  }
}

/**************************
FOOTER
***************************/

.footer {
  padding-top: 2rem;
  background-color: var(--color-yllw);
  color: var(--color-yllw-02);

  @include responsive(tab-land) {
    display: flex;
  }

  &__text {
    width: 95%;
  }

  &__logo {
    display: block;
    margin-bottom: $medium-space;
  }

  &__description {
    margin-bottom: 3.6rem;
  }

  &__credits {
    width: 100%;
    background-color: var(--color-yllw-02);
    padding: 1rem 0;

    color: var(--color-yllw);

    &--link {
      font-family: "Inter", Helvetica, sans-serif;
      font-size: $medium-space;
      &:link,
      &:visited {
        color: inherit;
      }
    }
  }

  &__navigation {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 400;
  }

  &__nav {
    &-title {
      margin-bottom: $big-space;
    }

    &-items {
      margin-bottom: $big-space;

      & > *:not(:last-child) {
        margin-bottom: $small-space;
      }
    }

    &-links {
      display: block;
      font-size: 1.8rem;

      &:visited,
      &:link {
        color: var(--color-yllw-02);
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      & > *:not(:first-child) {
        margin-left: $medium-space;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

/***

footer flex

***/

.footer--flex {
  @include responsive(desktop) {
    padding-top: 4.8rem;
    display: flex;

    & > * {
      flex: 1;
    }
  }
  .footer__navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    & > * {
      flex: 1 0 50%;
    }

    @include responsive(tablet) {
      & > * {
        flex: 1 0;
      }
      justify-content: space-between;
    }
  }
}

/*
That's for the sign up form
*/

.flex--form {
  @include responsive(tab-land) {
    display: flex;
  }

  .p--section,
  .title--h2 {
    @include responsive(tablet) {
      width: 90%;
    }
    @include responsive(desktop) {
      width: 47%;
    }
  }

  .section__subscribe--top {
    margin: 0;
    align-self: center;
  }

  .section__subscribe--bottom {
    max-width: 48.1rem;
    margin: 0 auto;
  }
}
