.nav {
  padding: 4rem 0;
  justify-content: space-between;
  align-items: center;
  /********
#### BURGER
************/
  &__burger {
    background: hsl(235, 9%, 95%);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 6rem;
    border-radius: 20px;
    padding: 1.8rem 1rem;

    &::selection > * {
      background: transparent;
    }
    
    @include responsive(tab-land){
      display: none;
    }
    

    
  }

  /*
  ICON
  */

  &__icon {
    position: relative;
    width: 100%;

    &,
    &::before,
    &::after {
      background: var(--color-neutral-01);

      height: 0.3rem;
      border-radius: 0.5rem;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      position: absolute;
      right: 0;
      content: "";
      width: 80%;
    }

    &::before {
      top: 1rem;
    }
    &::after {
      top: -1rem;
    }
  }

  &__icon.clicked {
    background: transparent;
    transform: translateX(-0.4rem);

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  /********
#### NAVIGATION
************/

  &__navigation {
    display: none;

    @include responsive(tab-land) {
      display: flex;
      flex: 1;
     
    }
  }

  &__navigation li {
    @include responsive(tab-land) {
      margin-left: $big-space;
    }
  }

  //Nagivation links
  &__links {
    &:link,
    &:visited {
      color: var(--color-neutral-02);
      font-family: "Space Grotesk";
      font-weight: var(--font-medium);
      text-transform: capitalize;
    }
  }
  /********
#### Actions icon and BTN
************/
  &__actions {
    display: none;
    background-color: aliceblue;
    @include responsive(tab-land) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }
  }

  /********
#### NAVIGATION
************/
}
