.nav {
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;

  @include responsive(tab-land) {
    padding: 4rem 0;
  }

  @media (max-width: 1140px) {
    position: relative;
  }
  /********
#### BURGER
************/
  &__burger {
    //background: hsl(235, 9%, 95%);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 20;

    width: 5rem;
    border-radius: 20px;
    padding: 1.6rem 0.8rem;

    &::selection > * {
      background: transparent;
    }

    @include responsive(tab-land) {
      display: none;
    }
  }

  /*
  ICON
  */

  &__icon {
    position: relative;
    width: 100%;

    &,
    &::before,
    &::after {
      background: var(--color-neutral-01);

      height: 0.2rem;
      border-radius: 0.5rem;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      position: absolute;
      right: 0;
      content: "";
      width: 80%;
    }

    &::before {
      top: 1rem;
    }
    &::after {
      top: -1rem;
    }
  }

  &__icon.clicked {
    background: transparent;
    transform: translateX(-0.4rem);

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  /********
#### NAVIGATION IS DESIGNED IN DESTOP FIRST APPROACHED
************/

  &__navigation {
    display: flex;
    flex: 1;
    overflow-x: hidden;

    @media (max-width: 1140px) {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 6rem;
      right: 0;
      width: 0;

      background-color: var(--color-neutral-00);
      z-index: 20;
      transition: all 0.3s;
    }
  }

  &__navigation li {
    margin-left: $big-space;

    @media (max-width: 1140px) {
      display: block;
      margin: 4rem 0;
    }
  }

  //Nagivation links
  &__links {
    &:link,
    &:visited {
      color: var(--color-text);
      font-family: "Space Grotesk";
      font-weight: var(--font-medium);
      text-transform: capitalize;
      display: block;
    }

    &--login {
      margin: 0 2.4rem;
    }
  }

  /********
#### Actions icon and BTN
************/
  &__actions {
    display: none;

    @include responsive(tab-land) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //flex: 1;
    }
  }

  /********
#### NAVIGATION
************/
}

@media (max-width: 1200px) {
  .nav__active {
    right: 0;
    width: 100%;
  }
}
